.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    color: greenyellow;
}

.pagination-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blueviolet;
    color: white;
    font-weight: bold;
    height: 3rem;
    width: 7rem;
    margin: 0.5rem;
    border-radius: 2rem;
}


.pagination-btn:hover {
    cursor: pointer;
}

.pagination-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2.5rem;
    background: red;
    margin: 0.5rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
}

.pagination-pages.active-page {
    background: hotpink;
    color: mediumpurple;

}

.pagination-pages:hover {
    cursor: pointer;
}