.Navigate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5rem;
    box-sizing: border-box;
    color: white;
}

.Navigate-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5rem;
    box-sizing: border-box;
    color: white;
    margin-left: 10rem;
}