.header {
    text-align: center;
    width: 100%;
    min-height: 2.5rem;
    background: var(--var-bg-header);
    color: var(--var-header-color);
    position: fixed;
    border-radius: 1rem;
    box-shadow: var(--var-box-shedow-header);
}