.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 2.5rem;
    background: var(--var-bg-header);
    color: var(--var-header-color);
    border-radius: 1rem;
    box-shadow: var(--var-box-shedow-header);
    padding: 0.2rem 2rem 0.2rem 3rem;
}

.header-logo {
    width: 3.4rem;
    border-radius: 0.5rem;
    box-shadow: var(--var-box-shedow-header);
}

.header-text {
    font-weight: bold;
    font-style: inherit;
    text-shadow: 0 5px 15px deepskyblue;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-body {
    font-size: 1.9rem;
    margin-right: 0.7rem;
    color: var(--var-footer-color);
}

.icons-body:hover {
    color: var(--var-a-hover);
}