.CarouselBox-block {
    width: 65%;
    border-radius: 2rem;
    box-shadow: var(--var-box-shedow-header);
}

.CarouselBox-block-section {
    height: 22rem;
}

.img-b {
    border-radius: 2rem;
    height: 22rem;
}

.CarouselBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.carousel-title:hover {
    color: var(--var-a-hover);
}

.carousel-title {
    font-weight: bold;
}